body{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content-title{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-bottom: 2px solid #eee;
    background-color: #aad500;
    color: #fff;
}

.content-title h1{
    font-size: 30px;
}

.container-products{
    padding: 40px 200px;
}

#lista-productos{
    display: grid; 
    grid-template-columns: repeat(4,1fr); 
    gap: 20px;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #333;
    border-radius: 10px;
    max-width: 200px;
    overflow: hidden;
}
article .contenedor-imagen img{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    max-width: 100%;
    min-height: 280px !important;
    border-radius: 10px 10px 0px 0;
}

article .contenedor-producto{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top: 1px solid #333;
}

article .contenedor-producto .nombre-producto{
    font-size: 18px;
}

article .contenedor-producto .descripcion{
    font-size: 15px;
    color: #474747;
}

article .contenedor-producto .precio{
    padding-top: 16px;
    font-size: 15px;
    color: red;
}